*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#0f172a;
  color:#fff;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  position:fixed;
  width:100%;
  background:#020617;
  z-index:1000;
}

.logo{
  font-size:24px;
}
.logo span{color:#38bdf8;}

nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
  transition:.3s;
}
nav a:hover{color:#38bdf8;}

.home{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 10%;
}

.home-text h1 span{color:#38bdf8;}
.btn{
  display:inline-block;
  margin-top:15px;
  padding:10px 25px;
  background:#38bdf8;
  color:black;
  border-radius:30px;
  text-decoration:none;
}

.profile-img{
  width:300px;
  border-radius:50%;
  animation:float 3s infinite ease-in-out;
}

@keyframes float{
  0%,100%{transform:translateY(0);}
  50%{transform:translateY(-15px);}
}

.section{
  padding:100px 10%;
  text-align:center;
}

.skills-box, .project-box{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
  margin-top:30px;
}

.skill, .project{
  background:#020617;
  padding:30px;
  border-radius:15px;
  transition:.4s;
}

.skill:hover, .project:hover{
  transform:scale(1.1);
  background:#38bdf8;
  color:black;
}

.skill i{
  font-size:40px;
  margin-bottom:10px;
}

.social-links a{
  font-size:30px;
  margin:10px;
  color:white;
  transition:.3s;
}

.social-links a:hover{
  color:#38bdf8;
  transform:scale(1.2);
}

form{
  max-width:500px;
  margin:30px auto;
}

form input, form textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:10px;
}

form button{
  padding:12px;
  width:100%;
  background:#38bdf8;
  border:none;
  border-radius:20px;
  cursor:pointer;
}
